.about {
  grid-template-areas: none;
  padding-inline: $md;

  @media (width >= $tablet-min) {
    grid-template-areas:
      'title .'
      '. wrapper';
  }
}

.about__wrapper {
  grid-area: none;
  grid-column: 1/13;
  grid-row: 2/3;
  align-self: end;

  @media (width >= $tablet-min) {
    grid-area: wrapper;
    grid-column: 5/13;
    grid-row: none;
  }
}

.about__title {
  @include heading-2;

  grid-area: none;
  grid-column: 1/13;
  grid-row: 1/2;
  margin-block-end: calc(#{$base} * 12);

  @media (width >= $tablet-min) {
    grid-area: title;
    grid-column: 1/5;
  }
}

.about__text {
  @include paragraph;

  margin-block-end: $md;

  &--big {
    @include heading-4;
  }

  &:last-child {
    margin-block-end: 0;
  }
}

.about__subtitle {
  @include paragraph;

  margin-block-end: $xs;
}

.about__list {
  @include paragraph;

  margin-block-end: $md;
  padding-inline-start: $static-md;
}
