.price {
  grid-template-areas:
    'title .'
    '. wrapper';
  padding-inline: $xs;
}

.price__title {
  @include heading-2;

  grid-area: title;
  grid-column: 1/5;
  margin-block-end: calc(#{$base} * 12);
  padding-inline: $xs;

  @media (width < $tablet-min) {
    grid-column: 1/13;
  }
}

.price__wrapper {
  grid-area: wrapper;
  grid-column: 5/13;

  @media (width < $tablet-min) {
    grid-column: 1/13;
  }
}

.price__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $xs;

  margin-block-end: $sm;

  list-style-type: none;

  @media (width < $tablet-min) {
    grid-template-columns: repeat(auto-fill, minmax(212px, 1fr));
  }

  @media (width < rem(680)) {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}

.price__block {
  container-type: inline-size;

  max-inline-size: rem(340);
  border-radius: $radius-md;

  background-color: $bg-element;
  box-shadow: $shadow-sm;

  @media (width < rem(460)) {
    max-inline-size: rem(260);
  }
}

.price__value {
  @include heading-4;

  padding-block: $static-sm;
  border-radius: $radius-md;

  font-size: clamp(rem(16), 0.543rem + 4.348cqw, rem(20));
  line-height: clamp(rem(20), 0.793rem + 4.348cqw, rem(24));
  color: $bg-element;
  text-align: center;

  background-color: $accent;
  box-shadow: $shadow-sm;
}

.price__service {
  @include paragraph-bold;
  @include centering;

  block-size: clamp(rem(60), 1.467rem + 21.739cqw, rem(80));
  padding-inline: $static-sm;

  font-size: clamp(rem(14), 0.647rem + 2.174cqw, rem(16));
  line-height: clamp(rem(20), 0.793rem + 4.348cqw, rem(24));
  text-align: center;
}

.price__annotation {
  @include paragraph;

  padding-inline: $xs;
  text-align: start;

  @media (width >= $mobile-max) {
    text-align: center;
  }
}
