<section id="about" class="about container" data-fade-section>
  <h2 class="about__title">О нас</h2>
  <div class="about__wrapper">
    <p class="about__text">
      <span class="bold">MNDance</span> - это больше, чем танцевальная школа. Это пространство
      свободы, движения и самовыражения. Мы верим, что танец - это язык, который не требует слов. Он
      позволяет говорить о чувствах, мечтать и быть настоящими.
    </p>
    <p class="about__text">
      Наша школа объединяет тех, кто любит современный танец во всех его проявлениях: от хип-хопа до
      контемпа. У нас занимаются новички и профи, дети и взрослые, те, кто танцует для души, и те,
      кто мечтает о сцене.
    </p>
    <p class="about__text about__text--big">
      Мы развиваем тело, уверенность и чувство ритма. И каждый день доказываем:
      <span class="accent">танцевать</span> может <span class="accent">каждый.</span> Главное -
      <span class="accent">начать.</span>
    </p>
    <h3 class="about__subtitle about__text--list">В MNDance тебя ждёт:</h3>
    <ul class="about__list">
      <li class="about__item">Атмосфера поддержки и драйва - мы вдохновляем.</li>
      <li class="about__item">Современные залы, крутая музыка и море энергии.</li>
      <li class="about__item">
        Регулярные мастер-классы, баттлы, выступления и просто яркая жизнь.
      </li>
      <li class="about__item">
        Команда вдохновляющих преподавателей - не просто профи, а настоящие фанаты своего дела.
      </li>
    </ul>
    <p class="about__text bold">
      Присоединяйся к движению.<br />Танцуй с нами.<br />Танцуй как ты.
    </p>
  </div>
</section>
