<section id="contacts" class="contacts container" data-fade-section>
  <h2 class="contacts__title">Контакты</h2>
  <div class="contacts__wrapper">
    <address class="contacts__info">
      <span class="contacts__address">г. Челябинск,<br />ул. Клары Цеткин, д. 32</span>
      <a href="tel:+79992450000" class="phone-link" aria-label="Позвонить по номеру 8 999 245 00 00"
        ><svg class="phone-link__icon" aria-hidden="true">
          <use href="#icon-phone"></use>
        </svg>
        <span class="phone-link__text">8 (999) 245-00-00</span></a
      >
      <a href="mailto:mndance@info.ru" class="mail-link" aria-label="Написать на электронную почту"
        ><svg class="mail-link__icon" aria-hidden="true">
          <use href="#icon-mail"></use>
        </svg>
        <span class="mail-link__text">mndance@info.ru</span></a
      >
      <span class="contacts__socials-wrapper">
        <a
          href="https://vk.ru/"
          class="socials__link"
          aria-label="Перейти в сообщество во Вконтакте"
          target="_blank"
          rel="noopener"
        >
          <svg class="socials__icon" aria-hidden="true">
            <use href="#icon-vk"></use>
          </svg>
        </a>
        <a
          href="https://web.telegram.org/"
          class="socials__link"
          aria-label="Перейти в сообщество в Телеграме"
          target="_blank"
          rel="noopener"
        >
          <svg class="socials__icon" aria-hidden="true">
            <use href="#icon-tg"></use>
          </svg>
        </a>
        <a
          href="https://www.instagram.com/"
          class="socials__link"
          aria-label="Перейти в сообщество в Инстаграме"
          target="_blank"
          rel="noopener"
        >
          <svg class="socials__icon" aria-hidden="true">
            <use href="#icon-inst"></use>
          </svg>
        </a>
      </span>
    </address>
    <div class="contacts__map">
      <div style="position: relative; overflow: hidden; height: 100%">
        <a
          href="https://yandex.ru/maps/56/chelyabinsk/?utm_medium=mapframe&utm_source=maps"
          style="color: #eeeeee; font-size: 12px; position: absolute; top: 0px"
        ></a
        ><a
          href="https://yandex.ru/maps/56/chelyabinsk/house/ulitsa_klary_tsetkin_32/YkgYdQ9jS0QEQFtvfX13cntmYA==/?ll=61.384690%2C55.163630&utm_medium=mapframe&utm_source=maps&z=17.86"
          style="color: #eee; font-size: 12px; position: absolute; top: 14px"
        ></a
        ><iframe
          src="https://yandex.ru/map-widget/v1/?ll=61.384690%2C55.163630&mode=whatshere&whatshere%5Bpoint%5D=61.383172%2C55.163862&whatshere%5Bzoom%5D=17&z=17.86"
          width="100%"
          height="100%"
          frameborder="0"
          allowfullscreen="true"
          style="position: relative; border-radius: 24px"
        ></iframe>
      </div>
    </div>
    <div class="contacts__footer">
      <button
        class="rules-button"
        type="button"
        data-event-button
        data-pub-event="rules-modal: open-request"
        data-sub-event="rules-modal: close"
      >
        Правила студии танцев
      </button>
      <button
        class="policy-button"
        type="button"
        data-event-button
        data-pub-event="policy-modal: open-request"
        data-sub-event="policy-modal: close"
      >
        Политика конфиденциальности
      </button>
      <p class="contacts__text">ООО «МНДэнс»<br />ИНН: 74500201650<br />ОГРН: 650450489401</p>
      <p class="contacts__text">Cтудия танцев «MNDance»<br />2018 - 2026 ©</p>
    </div>
  </div>
</section>
