<section
  id="dance-styles"
  class="dance-styles container"
  data-dance-styles-container
  data-fade-section
>
  <h2 class="dance-styles__title">Стили</h2>

  <div class="dance-styles__carousel" data-carousel>
    <div class="dance-styles__carousel-viewport" data-carousel-viewport>
      <ul class="dance-styles__list" data-carousel-slides>
        <li class="dance-styles__item" data-carousel-slide>
          <article class="dance-style">
            <div class="dance-style__inner">
              <picture class="dance-style__image-wrapper">
                <source srcset="/src/assets/images/dance-styles/contemp.webp" type="image/webp" />
                <img
                  class="dance-style__image"
                  src="/src/assets/images/dance-styles/contemp.png"
                  alt="Танец контемп"
                  decoding="async"
                  loading="lazy"
                />
              </picture>
              <div class="dance-style__wrapper">
                <h2 class="dance-style__title">Контемп</h2>
                <ul class="dance-style__list">
                  <li class="dance-style__item">уровень: <span class="accent">средний</span></li>
                  <li class="dance-style__item">ритм: <span class="accent">свободный</span></li>
                  <li class="dance-style__item">энергия: <span class="accent">3 / 5</span></li>
                </ul>
                <p class="dance-style__description">
                  Выразительный и эмоциональный стиль, часто используется в сольных постановках.
                  Темп меняется по ходу.
                </p>
              </div>
            </div>
          </article>
        </li>
        <li class="dance-styles__item" data-carousel-slide>
          <article class="dance-style">
            <div class="dance-style__inner">
              <picture class="dance-style__image-wrapper">
                <source
                  srcset="/src/assets/images/dance-styles/breakdance.webp"
                  type="image/webp"
                />
                <img
                  class="dance-style__image"
                  src="/src/assets/images/dance-styles/breakdance.png"
                  alt="Танец контемп"
                  decoding="async"
                  loading="lazy"
                />
              </picture>
              <div class="dance-style__wrapper">
                <h2 class="dance-style__title">Брейкданс</h2>
                <ul class="dance-style__list">
                  <li class="dance-style__item">уровень: <span class="accent">профи</span></li>
                  <li class="dance-style__item">ритм: <span class="accent">активный</span></li>
                  <li class="dance-style__item">энергия: <span class="accent">5 / 5</span></li>
                </ul>
                <p class="dance-style__description">
                  Самый атлетичный стиль. Много акробатики, силовых элементов и батловой энергии. Не
                  для слабонервных.
                </p>
              </div>
            </div>
          </article>
        </li>
        <li class="dance-styles__item" data-carousel-slide>
          <article class="dance-style">
            <div class="dance-style__inner">
              <picture class="dance-style__image-wrapper">
                <source srcset="/src/assets/images/dance-styles/popping.webp" type="image/webp" />
                <img
                  class="dance-style__image"
                  src="/src/assets/images/dance-styles/popping.png"
                  alt="Танец поппинг"
                  decoding="async"
                  loading="lazy"
                />
              </picture>
              <div class="dance-style__wrapper">
                <h2 class="dance-style__title">Поппинг</h2>
                <ul class="dance-style__list">
                  <li class="dance-style__item">уровень: <span class="accent">профи</span></li>
                  <li class="dance-style__item">ритм: <span class="accent">дробный</span></li>
                  <li class="dance-style__item">энергия: <span class="accent">4 / 5</span></li>
                </ul>
                <p class="dance-style__description">
                  Техника требует хорошей координации и контроля тела. Чёткий бит, визуальная
                  точность движений.
                </p>
              </div>
            </div>
          </article>
        </li>
        <li class="dance-styles__item" data-carousel-slide>
          <article class="dance-style">
            <div class="dance-style__inner">
              <picture class="dance-style__image-wrapper">
                <source srcset="/src/assets/images/dance-styles/hip-hop.webp" type="image/webp" />
                <img
                  class="dance-style__image"
                  src="/src/assets/images/dance-styles/hip-hop.png"
                  alt="Танец хип-хоп"
                  decoding="async"
                  loading="lazy"
                />
              </picture>
              <div class="dance-style__wrapper">
                <h2 class="dance-style__title">Хип-хоп</h2>
                <ul class="dance-style__list">
                  <li class="dance-style__item">уровень: <span class="accent">средний</span></li>
                  <li class="dance-style__item">ритм: <span class="accent">качающий</span></li>
                  <li class="dance-style__item">энергия: <span class="accent">5 / 5</span></li>
                </ul>
                <p class="dance-style__description">
                  Стиль уличный, с чётким ритмом, но не супербыстрый. Открыт для новичков, но
                  требует чувства ритма и расслабленности.
                </p>
              </div>
            </div>
          </article>
        </li>
        <li class="dance-styles__item" data-carousel-slide>
          <article class="dance-style">
            <div class="dance-style__inner">
              <picture class="dance-style__image-wrapper">
                <source srcset="/src/assets/images/dance-styles/house.webp" type="image/webp" />
                <img
                  class="dance-style__image"
                  src="/src/assets/images/dance-styles/house.png"
                  alt="Танец хаус"
                  decoding="async"
                  loading="lazy"
                />
              </picture>
              <div class="dance-style__wrapper">
                <h2 class="dance-style__title">Хаус</h2>
                <ul class="dance-style__list">
                  <li class="dance-style__item">уровень: <span class="accent">средний</span></li>
                  <li class="dance-style__item">ритм: <span class="accent">быстрый</span></li>
                  <li class="dance-style__item">энергия: <span class="accent">5 / 5</span></li>
                </ul>
                <p class="dance-style__description">
                  Много футворка (работа ног), танец под хаус-музыку, требует выносливости и
                  подвижности. Очень «в теле».
                </p>
              </div>
            </div>
          </article>
        </li>
        <li class="dance-styles__item" data-carousel-slide>
          <article class="dance-style">
            <div class="dance-style__inner">
              <picture class="dance-style__image-wrapper">
                <source srcset="/src/assets/images/dance-styles/contemp.webp" type="image/webp" />
                <img
                  class="dance-style__image"
                  src="/src/assets/images/dance-styles/contemp.png"
                  alt="Танец контемп"
                  decoding="async"
                  loading="lazy"
                />
              </picture>
              <div class="dance-style__wrapper">
                <h2 class="dance-style__title">Контемп</h2>
                <ul class="dance-style__list">
                  <li class="dance-style__item">уровень: <span class="accent">средний</span></li>
                  <li class="dance-style__item">ритм: <span class="accent">свободный</span></li>
                  <li class="dance-style__item">энергия: <span class="accent">3 / 5</span></li>
                </ul>
                <p class="dance-style__description">
                  Выразительный и эмоциональный стиль, часто используется в сольных постановках.
                  Темп меняется по ходу.
                </p>
              </div>
            </div>
          </article>
        </li>
        <li class="dance-styles__item" data-carousel-slide>
          <article class="dance-style">
            <div class="dance-style__inner">
              <picture class="dance-style__image-wrapper">
                <source
                  srcset="/src/assets/images/dance-styles/breakdance.webp"
                  type="image/webp"
                />
                <img
                  class="dance-style__image"
                  src="/src/assets/images/dance-styles/breakdance.png"
                  alt="Танец контемп"
                  decoding="async"
                  loading="lazy"
                />
              </picture>
              <div class="dance-style__wrapper">
                <h2 class="dance-style__title">Брейкданс</h2>
                <ul class="dance-style__list">
                  <li class="dance-style__item">уровень: <span class="accent">профи</span></li>
                  <li class="dance-style__item">ритм: <span class="accent">активный</span></li>
                  <li class="dance-style__item">энергия: <span class="accent">5 / 5</span></li>
                </ul>
                <p class="dance-style__description">
                  Самый атлетичный стиль. Много акробатики, силовых элементов и батловой энергии. Не
                  для слабонервных.
                </p>
              </div>
            </div>
          </article>
        </li>
        <li class="dance-styles__item" data-carousel-slide>
          <article class="dance-style">
            <div class="dance-style__inner">
              <picture class="dance-style__image-wrapper">
                <source srcset="/src/assets/images/dance-styles/popping.webp" type="image/webp" />
                <img
                  class="dance-style__image"
                  src="/src/assets/images/dance-styles/popping.png"
                  alt="Танец поппинг"
                  decoding="async"
                  loading="lazy"
                />
              </picture>
              <div class="dance-style__wrapper">
                <h2 class="dance-style__title">Поппинг</h2>
                <ul class="dance-style__list">
                  <li class="dance-style__item">уровень: <span class="accent">профи</span></li>
                  <li class="dance-style__item">ритм: <span class="accent">дробный</span></li>
                  <li class="dance-style__item">энергия: <span class="accent">4 / 5</span></li>
                </ul>
                <p class="dance-style__description">
                  Техника требует хорошей координации и контроля тела. Чёткий бит, визуальная
                  точность движений.
                </p>
              </div>
            </div>
          </article>
        </li>
        <li class="dance-styles__item" data-carousel-slide>
          <article class="dance-style">
            <div class="dance-style__inner">
              <picture class="dance-style__image-wrapper">
                <source srcset="/src/assets/images/dance-styles/hip-hop.webp" type="image/webp" />
                <img
                  class="dance-style__image"
                  src="/src/assets/images/dance-styles/hip-hop.png"
                  alt="Танец хип-хоп"
                  decoding="async"
                  loading="lazy"
                />
              </picture>
              <div class="dance-style__wrapper">
                <h2 class="dance-style__title">Хип-хоп</h2>
                <ul class="dance-style__list">
                  <li class="dance-style__item">уровень: <span class="accent">средний</span></li>
                  <li class="dance-style__item">ритм: <span class="accent">качающий</span></li>
                  <li class="dance-style__item">энергия: <span class="accent">5 / 5</span></li>
                </ul>
                <p class="dance-style__description">
                  Стиль уличный, с чётким ритмом, но не супербыстрый. Открыт для новичков, но
                  требует чувства ритма и расслабленности.
                </p>
              </div>
            </div>
          </article>
        </li>
      </ul>
    </div>
    <div class="dance-styles__controls">
      <button
        class="prev-button next-button--is-active"
        type="button"
        aria-label="Предыдущий слайд"
        aria-controls=""
        aria-disabled="true"
        data-dance-styles-prev-button
      >
        <svg class="prev-button__icon" aria-hidden="true">
          <use href="#icon-arrow-prev"></use>
        </svg>
      </button>
      <div class="dance-styles__dots" data-dance-styles-dots>
        <div class="dance-styles__dot"></div>
        <div class="dance-styles__dot"></div>
        <div class="dance-styles__dot dance-styles__dot--is-active"></div>
        <div class="dance-styles__dot"></div>
        <div class="dance-styles__dot"></div>
      </div>
      <button
        class="next-button next-button--is-active"
        type="button"
        aria-label="Следующий слайд"
        aria-controls=""
        aria-disabled="false"
        data-dance-styles-next-button
      >
        <svg class="next-button__icon" aria-hidden="true">
          <use href="#icon-arrow-next"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
