<footer class="footer">
  <div class="socials footer__socials">
    <a
      href="https://vk.ru/"
      class="socials__link"
      aria-label="Перейти в сообщество во Вконтакте"
      target="_blank"
      rel="noopener"
    >
      <svg class="socials__icon" aria-hidden="true">
        <use href="#icon-vk"></use>
      </svg>
    </a>
    <a
      href="https://web.telegram.org/"
      class="socials__link"
      aria-label="Перейти в сообщество в Телеграме"
      target="_blank"
      rel="noopener"
    >
      <svg class="socials__icon" aria-hidden="true">
        <use href="#icon-tg"></use>
      </svg>
    </a>
    <a
      href="https://www.instagram.com/"
      class="socials__link"
      aria-label="Перейти в сообщество в Инстаграме"
      target="_blank"
      rel="noopener"
    >
      <svg class="socials__icon" aria-hidden="true">
        <use href="#icon-inst"></use>
      </svg>
    </a>
  </div>
  <div class="footer__actions">
    <a href="tel:+79992450000" class="phone-link footer__phone-link"
      ><svg class="phone-link__icon" aria-hidden="true">
        <use href="#icon-phone"></use>
      </svg>
      <span class="phone-link__text">8 (999) 245-00-00</span></a
    >
    <button
      class="join-button footer__join-button"
      type="button"
      aria-expanded="false"
      aria-haspopup="dialog"
      aria-controls="join-modal"
      data-event-button
      data-pub-event="join-modal: open-request"
      data-sub-event="join-modal: close"
    >
      <svg class="join-button__icon" aria-hidden="true">
        <use href="#icon-join"></use>
      </svg>
      <span class="join-button__text">Присоединиться</span>
    </button>
  </div>
</footer>
