<header class="header">
  <div class="header__wrapper">
    <a href="#hero" class="logo" aria-label="На главный экран" data-local-link>
      <svg class="logo__icon" aria-hidden="true">
        <use href="#icon-logo"></use>
      </svg>
    </a>
    <nav class="menu" aria-label="Основная навигация">
      <button
        class="menu-button menu__button"
        type="button"
        aria-controls="menu"
        aria-expanded="false"
        aria-label="Открыть меню"
        data-menu-button
      >
        <svg
          class="menu__icon"
          aria-hidden="true"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          xmlns="http://www.w3.org/2000/svg"
          data-menu-start-icon
        >
          <path
            d="M13.3333 7.5C13.6095 7.5 13.8333 7.72386 13.8333 8C13.8333 8.27614 13.6095 8.5 13.3333 8.5H2.66667C2.39052 8.5 2.16667 8.27614 2.16667 8C2.16667 7.72386 2.39052 7.5 2.66667 7.5H13.3333Z"
          />
          <path
            d="M13.3333 11.5C13.6095 11.5 13.8333 11.7239 13.8333 12C13.8333 12.2761 13.6095 12.5 13.3333 12.5H2.66667C2.39052 12.5 2.16667 12.2761 2.16667 12C2.16667 11.7239 2.39052 11.5 2.66667 11.5H13.3333Z"
          />
          <path
            d="M13.3333 3.5C13.6095 3.5 13.8333 3.72386 13.8333 4C13.8333 4.27614 13.6095 4.5 13.3333 4.5H2.66667C2.39052 4.5 2.16667 4.27614 2.16667 4C2.16667 3.72386 2.39052 3.5 2.66667 3.5H13.3333Z"
          />
        </svg>

        <svg
          class="menu__icon"
          aria-hidden="true"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          xmlns="http://www.w3.org/2000/svg"
          style="display: none;"
          data-menu-mid-icon
        >
          <path
            d="M13.3333 7.5C13.6095 7.5 13.8333 7.72386 13.8333 8C13.8333 8.27614 13.6095 8.5 13.3333 8.5H2.66667C2.39052 8.5 2.16667 8.27614 2.16667 8C2.16667 7.72386 2.39052 7.5 2.66667 7.5H13.3333Z"
          />
          <path
            d="M13.3333 7.5C13.6095 7.5 13.8333 7.72386 13.8333 8C13.8333 8.27614 13.6095 8.5 13.3333 8.5H2.66667C2.39052 8.5 2.16667 8.27614 2.16667 8C2.16667 7.72386 2.39052 7.5 2.66667 7.5H13.3333Z"
          />
          <path
            d="M13.3333 7.5C13.6095 7.5 13.8333 7.72386 13.8333 8C13.8333 8.27614 13.6095 8.5 13.3333 8.5H2.66667C2.39052 8.5 2.16667 8.27614 2.16667 8C2.16667 7.72386 2.39052 7.5 2.66667 7.5H13.3333Z"
          />
        </svg>

        <svg
          class="menu__icon"
          aria-hidden="true"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          xmlns="http://www.w3.org/2000/svg"
          style="display: none;"
          data-menu-end-icon
        >
          <path
            d="M11.6464 3.64651C11.8417 3.45125 12.1582 3.45125 12.3535 3.64651C12.5487 3.84177 12.5487 4.15828 12.3535 4.35354L4.35348 12.3535C4.15822 12.5488 3.84171 12.5488 3.64645 12.3535C3.45118 12.1583 3.45118 11.8418 3.64645 11.6465L11.6464 3.64651Z"
          />
          <path
            d="M3.64645 3.64651C3.84171 3.45125 4.15822 3.45125 4.35348 3.64651L12.3535 11.6465C12.5487 11.8418 12.5487 12.1583 12.3535 12.3535C12.1582 12.5488 11.8417 12.5488 11.6464 12.3535L3.64645 4.35354C3.45118 4.15828 3.45118 3.84177 3.64645 3.64651Z"
          />
          <path
            d="M3.64645 3.64651C3.84171 3.45125 4.15822 3.45125 4.35348 3.64651L12.3535 11.6465C12.5487 11.8418 12.5487 12.1583 12.3535 12.3535C12.1582 12.5488 11.8417 12.5488 11.6464 12.3535L3.64645 4.35354C3.45118 4.15828 3.45118 3.84177 3.64645 3.64651Z"
          />
        </svg>
      </button>
      <div id="menu" class="menu__wrapper" aria-hidden="true" data-menu-wrapper>
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#about" class="menu__link" data-local-link>
              <span class="menu__text">О нас</span>
            </a>
          </li>
          <li class="menu__item">
            <a href="#dance-styles" class="menu__link" data-local-link>
              <span class="menu__text">Стили</span>
            </a>
          </li>
          <li class="menu__item">
            <a href="#team" class="menu__link" data-local-link>
              <span class="menu__text">Команда</span>
            </a>
          </li>
          <li class="menu__item">
            <a href="#timetable" class="menu__link" data-local-link>
              <span class="menu__text">Расписание</span>
            </a>
          </li>
          <li class="menu__item">
            <a href="#price" class="menu__link" data-local-link>
              <span class="menu__text">Цены</span>
            </a>
          </li>
          <li class="menu__item">
            <a href="#contacts" class="menu__link" data-local-link>
              <span class="menu__text">Контакты</span>
            </a>
          </li>
        </ul>

        <div class="menu__actions">
          <div class="socials">
            <a
              href="https://vk.ru/"
              class="socials__link"
              aria-label="Перейти в сообщество во Вконтакте"
              target="_blank"
              rel="noopener"
            >
              <svg class="socials__icon" aria-hidden="true">
                <use href="#icon-vk"></use>
              </svg>
            </a>
            <a
              href="https://web.telegram.org/"
              class="socials__link"
              aria-label="Перейти в сообщество в Телеграме"
              target="_blank"
              rel="noopener"
            >
              <svg class="socials__icon" aria-hidden="true">
                <use href="#icon-tg"></use>
              </svg>
            </a>
            <a
              href="https://www.instagram.com/"
              class="socials__link"
              aria-label="Перейти в сообщество в Инстаграме"
              target="_blank"
              rel="noopener"
            >
              <svg class="socials__icon" aria-hidden="true">
                <use href="#icon-inst"></use>
              </svg>
            </a>
            <a
              href="tel:+79992450000"
              class="phone-link phone-link--icon-only"
              aria-label="Позвонить по телефону"
              ><svg class="phone-link__icon" aria-hidden="true">
                <use href="#icon-phone"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div class="header__actions">
      <a href="tel:+79992450000" class="phone-link">
        <svg class="phone-link__icon" aria-hidden="true">
          <use href="#icon-phone"></use>
        </svg>
        <span class="phone-link__text">8 (999) 245-00-00</span>
      </a>
      <button
        class="join-button"
        type="button"
        aria-expanded="false"
        aria-haspopup="dialog"
        aria-controls="join-modal"
        data-event-button
        data-pub-event="join-modal: open-request"
        data-sub-event="join-modal: close"
      >
        <svg class="join-button__icon" aria-hidden="true">
          <use href="#icon-join"></use>
        </svg>
        <span class="join-button__text">Присоединиться</span>
      </button>
    </div>
  </div>
</header>
