<dialog
  id="policy"
  class="policy"
  data-modal
  aria-labelledby="policy__title"
  data-sub-event="policy-modal: open-request"
  data-pub-event="policy-modal: close"
>
  <header class="policy__header">
    <h2 id="policy__title" class="policy__title">Политика</h2>
    <button
      class="close-button"
      type="button"
      aria-label="Закрыть окно"
      data-event-button
      data-pub-event="policy-modal: open-request"
    >
      <svg class="close-button__icon" aria-hidden="true">
        <use href="#icon-close"></use>
      </svg>
    </button>
  </header>

  <div class="policy__wrapper">
    <h3 class="policy__subtitle">Общие положения</h3>
    <ul class="policy__list">
      <li class="policy__item">
        Настоящая Политика разработана в соответствии с требованиями Федерального закона от
        27.07.2006 № 152-ФЗ «О персональных данных» (далее — Закон о персональных данных).
      </li>
      <li class="policy__item">
        Документ определяет порядок обработки персональных данных и меры по обеспечению их
        безопасности в ООО «МНДэнс» (далее — Оператор).
      </li>
      <li class="policy__item">
        Главной целью Оператора является соблюдение прав и свобод человека при обработке его
        персональных данных, включая защиту прав на неприкосновенность частной жизни.
      </li>
      <li class="policy__item">
        Настоящая Политика применяется ко всей информации, которую Оператор может получить о
        посетителях веб-сайта (далее — Сайт) через форму онлайн-записи.
      </li>
      <li class="policy__item">
        Использование Сайта и отправка данных через форму записи означают безоговорочное согласие
        Пользователя с условиями настоящей Политики.
      </li>
    </ul>

    <h3 class="policy__subtitle">Основные понятия</h3>
    <ul class="policy__list">
      <li class="policy__item">
        <span class="bold">Персональные данные</span> - любая информация, относящаяся к прямо или
        косвенно определенному Физическому лицу (субъекту персональных данных).
      </li>
      <li class="policy__item">
        <span class="bold">Оператор</span> - юридическое лицо (ООО «МНДэнс»), самостоятельно
        организующее и осуществляющее обработку персональных данных.
      </li>
      <li class="policy__item">
        <span class="bold">Обработка персональных данных</span> — любое действие (операция) или
        совокупность действий, совершаемых с использованием средств автоматизации или без них (сбор,
        запись, систематизация, накопление, хранение, уточнение, извлечение, использование,
        передача, удаление, уничтожение).
      </li>
      <li class="policy__item">
        <span class="bold">Пользователь</span> — любой посетитель Сайта, заполняющий форму
        онлайн-записи.
      </li>
    </ul>

    <h3 class="policy__subtitle">Объем и категории обрабатываемых персональных данных</h3>
    <p class="policy__text">
      Оператор осуществляет обработку следующих персональных данных Пользователя, предоставляемых
      при заполнении формы записи:
    </p>
    <ul class="policy__list">
      <li class="policy__item">Фамилия, имя, отчество.</li>
      <li class="policy__item">Номер контактного телефона.</li>
      <li class="policy__item">Адрес электронной почты (e-mail).</li>
      <li class="policy__item">
        Сведения о выбранной услуге (направление танцев, дата и время посещения).
      </li>
      <li class="policy__item">
        Обезличенные данные, собираемые автоматически (файлы «cookies», IP-адрес, данные о
        браузере).
      </li>
    </ul>

    <h3 class="policy__subtitle">Цели обработки персональных данных</h3>
    <p class="policy__text">
      Персональные данные Пользователя обрабатываются исключительно в следующих целях:
    </p>
    <ul class="policy__list">
      <li class="policy__item">
        Идентификация Пользователя для подтверждения записи на услуги Студии танцев «MNDance».
      </li>
      <li class="policy__item">
        Установление обратной связи (направление уведомлений, запросов, касающихся оказания услуг,
        обработка заявок).
      </li>
      <li class="policy__item">
        Предоставление Пользователю эффективной клиентской и технической поддержки при возникновении
        проблем, связанных с использованием Сайта.
      </li>
      <li class="policy__item">
        Информирование об изменениях в расписании, графике работы и условиях оказания услуг.
      </li>
    </ul>

    <h3 class="policy__subtitle">Правовые основания обработки</h3>
    <p class="policy__text">Правовыми основаниями обработки персональных данных являются:</p>
    <ul class="policy__list">
      <li class="policy__item">Конституция Российской Федерации.</li>
      <li class="policy__item">Гражданский кодекс Российской Федерации.</li>
      <li class="policy__item">Федеральный закон № 152-ФЗ «О персональных данных».</li>
      <li class="policy__item">
        Согласие Пользователя на обработку его персональных данных, выраженное путем отправки формы
        записи на Сайте.
      </li>
    </ul>

    <h3 class="policy__subtitle">
      Порядок сбора, хранения, передачи и уничтожения персональных данных
    </h3>
    <ul class="policy__list">
      <li class="policy__item">
        Безопасность персональных данных обеспечивается путем реализации правовых, организационных и
        технических мер, необходимых для выполнения требований законодательства.
      </li>
      <li class="policy__item">
        Хранение персональных данных осуществляется на серверах, находящихся строго на территории
        Российской Федерации.
      </li>
      <li class="policy__item">
        Оператор не осуществляет передачу персональных данных третьим лицам, за исключением случаев,
        связанных с исполнением действующего законодательства РФ.
      </li>
      <li class="policy__item">
        Срок обработки персональных данных является неограниченным, до момента отзыва согласия
        Пользователем.
      </li>
      <li class="policy__item">
        Уничтожение персональных данных производится путем безвозвратного удаления из базы данных в
        течение 30 дней с момента получения письменного отзыва согласия.
      </li>
    </ul>

    <h3 class="policy__subtitle">Права субъектов персональных данных</h3>
    <p class="policy__text">Пользователь имеет право:</p>
    <ul class="policy__list">
      <li class="policy__item">
        На получение информации, касающейся обработки его персональных данных, в установленные
        законом сроки.
      </li>
      <li class="policy__item">
        Требовать от Оператора уточнения его персональных данных, их блокирования или уничтожения в
        случае, если данные являются неполными, устаревшими или неточными.
      </li>
      <li class="policy__item">
        Отозвать свое согласие на обработку персональных данных путем направления официального
        запроса на электронную почту Оператора.
      </li>
    </ul>

    <h3 class="policy__subtitle">Заключительные положения</h3>
    <ul class="policy__list">
      <li class="policy__item">
        Настоящая Политика подлежит изменению или дополнению в случае появления новых
        законодательных актов или изменения процессов обработки данных Оператором.
      </li>
      <li class="policy__item">
        Новая редакция Политики вступает в силу с момента ее размещения на Сайте, если иное не
        предусмотрено новой редакцией Политики.
      </li>
      <li class="policy__item">
        Все предложения или вопросы по настоящей Политике следует направлять по адресу электронной
        почты Оператора.
      </li>
    </ul>

    <h3 class="policy__subtitle">Юридический адрес и реквизиты оператора</h3>
    <ul class="policy__list">
      <li class="policy__item">ИНН: 74500201650</li>
      <li class="policy__item">Юридический адрес: г. Челябинск,<br />ул. Клары Цеткин, д. 32</li>
      <li class="policy__item">Электронная почта для связи: mndance@info.ru</li>
      <li class="policy__item">Телефон: 8 (999) 245-00-00</li>
    </ul>
  </div>
</dialog>
