<section id="price" class="price container">
  <h2 class="price__title" data-left-fade>Цены</h2>
  <div class="price__wrapper">
    <ul class="price__list">
      <li class="price__item" data-price-series-fade>
        <div class="price__block">
          <p class="price__value">0 ₽</p>
          <p class="price__service">Пробное<br />занятие</p>
        </div>
      </li>
      <li class="price__item" data-price-series-fade>
        <div class="price__block">
          <p class="price__value">800 ₽</p>
          <p class="price__service">1 занятие</p>
        </div>
      </li>
      <li class="price__item" data-price-series-fade>
        <div class="price__block">
          <p class="price__value">3 000 ₽</p>
          <p class="price__service">4 занятия</p>
        </div>
      </li>
      <li class="price__item" data-price-series-fade>
        <div class="price__block">
          <p class="price__value">8 600 ₽</p>
          <p class="price__service">12 занятий</p>
        </div>
      </li>
      <li class="price__item" data-price-series-fade>
        <div class="price__block">
          <p class="price__value">13 500 ₽</p>
          <p class="price__service">20 занятий</p>
        </div>
      </li>
      <li class="price__item" data-price-series-fade>
        <div class="price__block">
          <p class="price__value">22 000 ₽</p>
          <p class="price__service">40 занятий</p>
        </div>
      </li>
      <li class="price__item" data-price-series-fade>
        <div class="price__block">
          <p class="price__value">2 400 ₽</p>
          <p class="price__service">Full day*</p>
        </div>
      </li>
      <li class="price__item" data-price-series-fade>
        <div class="price__block">
          <p class="price__value">14 000 ₽</p>
          <p class="price__service">Безлимитный<br />абонемент*</p>
        </div>
      </li>
      <li class="price__item" data-price-series-fade>
        <div class="price__block">
          <p class="price__value">3 000 ₽</p>
          <p class="price__service">Персональное<br />занятие</p>
        </div>
      </li>
    </ul>
    <p class="price__annotation" data-text data-price-series-fade>
      * Безлимитные абонементы доступны к покупке только в самой студии. Узнать подробности
      и оформить карту можно у нашего администратора.
    </p>
  </div>
</section>
