<dialog
  id="rules"
  class="rules"
  aria-labelledby="rules__title"
  data-modal
  data-sub-event="rules-modal: open-request"
  data-pub-event="rules-modal: close"
>
  <header class="rules__header">
    <h2 class="rules__title">Правила студии</h2>
    <button
      class="close-button"
      type="button"
      aria-label="Закрыть окно"
      data-event-button
      data-pub-event="rules-modal: open-request"
    >
      <svg class="close-button__icon" aria-hidden="true">
        <use href="#icon-close"></use>
      </svg>
    </button>
  </header>

  <div class="rules__wrapper">
    <ul class="rules__list">
      <li class="rules__item">
        Студия танцев «MNDance» создана на основе ООО «МНДэнс», целью которой является развитие
        танцевальной культуры в России.
      </li>
      <li class="rules__item">
        В некоторых группах действуют возрастные ограничения, смотрите описание конкретного стиля
        танцев для подробностей.
      </li>
      <li class="rules__item">
        Посещать занятия разрешается только при наличии сменной обуви. Не рекомендуется во время
        занятий жевать жвачку и есть конфеты. Просьба, отключать на время занятий мобильные
        телефоны. Запрещается курить и употреблять ненормативную лексику на территории студии
        танцев.
      </li>
      <li class="rules__item">
        Оплата за занятие, покупка или списание с абонемента производится перед началом занятий.
      </li>
      <li class="rules__item">
        Если вы опоздали на несколько минут, постарайтесь, никому не мешая, зайти в зал и занять
        свободное место.
      </li>
      <li class="rules__item">
        В случае медицинских противопоказаний к активным нагрузкам обязательно поставьте в
        известность об этом преподавателя.
      </li>
      <li class="rules__item">
        Оплата за занятия или покупка абонемента подтверждает согласие ученика со всеми
        перечисленными правилами школы танцев «MNDance» и обязывает его к их выполнению. При
        нарушении данных правил, Администрация оставляет за собой право прекратить договор в
        одностороннем порядке без возврата денег.
      </li>
    </ul>
  </div>
</dialog>
