<section id="timetable" class="timetable container" data-fade-section>
  <h2 class="timetable__title">Расписание</h2>
  <div class="table" role="table">
    <ul class="table__times">
      <li class="table__time empty" aria-hidden="true">-</li>
      <li class="table__time" role="columnheader">17:00</li>
      <li class="table__time" role="columnheader">18:00</li>
      <li class="table__time" role="columnheader">19:00</li>
      <li class="table__time" role="columnheader">20:00</li>
    </ul>
    <div id="timetable-wrapper" class="table__wrapper" data-timetable-wrapper>
      <ul class="table__rows">
        <li class="table__row">
          <ul class="table__days">
            <li class="table__day" role="rowheader">Пн</li>
            <li class="table__day" role="rowheader">Вт</li>
            <li class="table__day" role="rowheader">Ср</li>
            <li class="table__day" role="rowheader">Чт</li>
            <li class="table__day" role="rowheader">Пт</li>
            <li class="table__day" role="rowheader">Сб</li>
          </ul>
        </li>
        <li class="table__row">
          <ul class="table__cards" role="row">
            <li class="table__card" role="cell">
              <span class="table__style">Контемп</span>
              <span class="table__info">н / б</span>
            </li>
            <li class="table__card empty" role="cell" aria-hidden="true"></li>
            <li class="table__card" role="cell">
              <span class="table__style">Контемп</span>
              <span class="table__info">н / б</span>
            </li>
            <li class="table__card empty" role="cell" aria-hidden="true"></li>
            <li class="table__card" role="cell">
              <span class="table__style">Контемп</span>
              <span class="table__info">н / б</span>
            </li>
            <li class="table__card empty" role="cell" aria-hidden="true"></li>
          </ul>
        </li>
        <li class="table__row">
          <ul class="table__cards" role="row">
            <li class="table__card" role="cell">
              <div class="table__card-wrapper">
                <span class="table__style">Контемп</span>
                <span class="table__info">п / б</span>
              </div>
              <div class="split-line"></div>
              <div class="table__card-wrapper">
                <span class="table__style">Поппинг</span>
                <span class="table__info">н / м</span>
              </div>
            </li>
            <li class="table__card" role="cell">
              <span class="table__style">Хип-хоп</span>
              <span class="table__info">д / б</span>
            </li>
            <li class="table__card" role="cell">
              <div class="table__card-wrapper">
                <span class="table__style">Контемп</span>
                <span class="table__info">п / б</span>
              </div>
              <div class="split-line"></div>
              <div class="table__card-wrapper">
                <span class="table__style">Поппинг</span>
                <span class="table__info">н / м</span>
              </div>
            </li>
            <li class="table__card" role="cell">
              <span class="table__style">Хип-хоп</span>
              <span class="table__info">д / б</span>
            </li>
            <li class="table__card" role="cell">
              <div class="table__card-wrapper">
                <span class="table__style">Контемп</span>
                <span class="table__info">п / б</span>
              </div>
              <div class="split-line"></div>
              <div class="table__card-wrapper">
                <span class="table__style">Поппинг</span>
                <span class="table__info">н / м</span>
              </div>
            </li>
            <li class="table__card" role="cell">
              <span class="table__style">Хип-хоп</span>
              <span class="table__info">д / б</span>
            </li>
          </ul>
        </li>
        <li class="table__row">
          <ul class="table__cards" role="row">
            <li class="table__card" role="cell">
              <div class="table__card-wrapper">
                <span class="table__style">Брейк</span>
                <span class="table__info">н / б</span>
              </div>
              <div class="split-line"></div>
              <div class="table__card-wrapper">
                <span class="table__style">Поппинг</span>
                <span class="table__info">п / м</span>
              </div>
            </li>
            <li class="table__card" role="cell">
              <div class="table__card-wrapper">
                <span class="table__style">Хип-хоп</span>
                <span class="table__info">н / б</span>
              </div>
              <div class="split-line"></div>
              <div class="table__card-wrapper">
                <span class="table__style">Хаус</span>
                <span class="table__info">н / м</span>
              </div>
            </li>
            <li class="table__card" role="cell">
              <div class="table__card-wrapper">
                <span class="table__style">Брейк</span>
                <span class="table__info">н / б</span>
              </div>
              <div class="split-line"></div>
              <div class="table__card-wrapper">
                <span class="table__style">Поппинг</span>
                <span class="table__info">п / м</span>
              </div>
            </li>
            <li class="table__card" role="cell">
              <div class="table__card-wrapper">
                <span class="table__style">Хип-хоп</span>
                <span class="table__info">н / б</span>
              </div>
              <div class="split-line"></div>
              <div class="table__card-wrapper">
                <span class="table__style">Хаус</span>
                <span class="table__info">н / м</span>
              </div>
            </li>
            <li class="table__card" role="cell">
              <div class="table__card-wrapper">
                <span class="table__style">Брейк</span>
                <span class="table__info">н / б</span>
              </div>
              <div class="split-line"></div>
              <div class="table__card-wrapper">
                <span class="table__style">Поппинг</span>
                <span class="table__info">п / м</span>
              </div>
            </li>
            <li class="table__card" role="cell">
              <div class="table__card-wrapper">
                <span class="table__style">Хип-хоп</span>
                <span class="table__info">н / б</span>
              </div>
              <div class="split-line"></div>
              <div class="table__card-wrapper">
                <span class="table__style">Хаус</span>
                <span class="table__info">н / м</span>
              </div>
            </li>
          </ul>
        </li>
        <li class="table__row">
          <ul class="table__cards" role="row">
            <li class="table__card" role="cell">
              <span class="table__style">Брейк</span>
              <span class="table__info">п / б</span>
            </li>
            <li class="table__card" role="cell">
              <div class="table__card-wrapper">
                <span class="table__style">Хип-хоп</span>
                <span class="table__info">п / б</span>
              </div>
              <div class="split-line"></div>
              <div class="table__card-wrapper">
                <span class="table__style">Хаус</span>
                <span class="table__info">п / м</span>
              </div>
            </li>
            <li class="table__card" role="cell">
              <span class="table__style">Брейк</span>
              <span class="table__info">п / б</span>
            </li>
            <li class="table__card" role="cell">
              <div class="table__card-wrapper">
                <span class="table__style">Хип-хоп</span>
                <span class="table__info">п / б</span>
              </div>
              <div class="split-line"></div>
              <div class="table__card-wrapper">
                <span class="table__style">Хаус</span>
                <span class="table__info">п / м</span>
              </div>
            </li>
            <li class="table__card" role="cell">
              <span class="table__style">Брейк</span>
              <span class="table__info">п / б</span>
            </li>
            <li class="table__card" role="cell">
              <div class="table__card-wrapper">
                <span class="table__style">Хип-хоп</span>
                <span class="table__info">п / б</span>
              </div>
              <div class="split-line"></div>
              <div class="table__card-wrapper">
                <span class="table__style">Хаус</span>
                <span class="table__info">п / м</span>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="timetable__controls" data-timetable-controls>
      <button
        class="prev-button"
        type="button"
        aria-label="Предыдущий слайд"
        aria-controls="timetable-wrapper"
        aria-disabled="true"
        disabled
        data-timetable-button
      >
        <svg class="prev-button__icon" aria-hidden="true">
          <use href="#icon-arrow-prev"></use>
        </svg>
      </button>
      <div class="timetable__dots" data-timetable-dots>
        <div class="timetable__dot timetable__dot--is-active"></div>
        <div class="timetable__dot"></div>
      </div>
      <button
        class="next-button next-button--is-active"
        type="button"
        aria-label="Следующий слайд"
        aria-controls="timetable-wrapper"
        aria-disabled="false"
        data-timetable-button
      >
        <svg class="next-button__icon" aria-hidden="true">
          <use href="#icon-arrow-next"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="timetable__annotation">
    <p class="timetable__text"><span class="bold">д</span> - детская группа</p>
    <p class="timetable__text"><span class="bold">н</span> - начальная группа</p>
    <p class="timetable__text"><span class="bold">п</span> - продвинутая группа</p>
    <p class="timetable__text"><span class="bold">б</span> - большой зал</p>
    <p class="timetable__text"><span class="bold">м</span> - малый зал</p>
  </div>
</section>
