.contacts {
  @include header-font;

  display: flex;
  flex-direction: column;
  align-items: end;
  width: 144rem;
  height: 44rem;
  row-gap: 6rem;

  &--lowtext {
    text-transform: lowercase;
  }
}

.contacts__tel,
.contacts__email {
  white-space: nowrap;
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 2rem;
}
