@import 'https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&display=swap';

html {
  color: $darkgrey;
  font-size: calc(100vw / $maketWidth);
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  user-select: none;
}

.main {
  position: relative;
  overflow: hidden;
}

.container {
  width: 100%;
  height: calc(100vh - 80rem);
  padding: 16rem;
  font-size: 100px;
  background-color: $white;
  border-radius: 10px solid black;
  transition: top 500ms ease-in-out 200ms;

  &:not(:first-child) {
    position: absolute;
    top: 100%;
    z-index: 4;
  }
}
