// colors
$lightgrey: #e6e6e6;
$grey: #bfbfbf;
$darkgrey: #54595f;
$white: #f8fafc;
$red: #fb7663;

// maket
$maketWidth: 1920;
$maketHeight: 1080;

// header
$headerPadding: 0 40rem;
$animationTime: 300ms;

// sections
$borderRadius: 24rem;
