.sign-up-button {
  @include centering;
  @include header-font;

  width: 175rem;
  height: 44rem;
  color: $white;
  background-color: $red;
  border-radius: 22rem;
  cursor: pointer;

  &--boldtext {
    font-weight: 600;
  }

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}
