@font-face {
  font-family: IdealistSans;
  font-style: normal;

  font-display: swap;
  src: url('/src/assets/fonts/idealistsans.woff2') format('woff2');
}

@font-face {
  font-family: Bounded;
  font-style: normal;

  font-display: swap;
  src: url('/src/assets/fonts/Bounded-Variable.woff2') format('woff2');
}
